<nav class="main-navbar">
  <ul class="navbar-list">
    <li>
      <button mat-button [matMenuTriggerFor]="productsMenu" class="navbar-link products-link">
        ПРОДУКТИ <mat-icon>expand_more</mat-icon>
      </button>
    </li>
    <li><a mat-button class="navbar-link promo-link">ПРОМО</a></li>
    <li>
      <button mat-button [matMenuTriggerFor]="servicesMenu" class="navbar-link">
        Услуги <mat-icon>expand_more</mat-icon>
      </button>
    </li>
    <li><a mat-button class="navbar-link">За клиенти</a></li>
    <li><a mat-button class="navbar-link">Каталози и цени</a></li>
    <li>
      <button mat-button [matMenuTriggerFor]="aboutMenu" class="navbar-link">
        За нас <mat-icon>expand_more</mat-icon>
      </button>
    </li>
    <li><a mat-button class="navbar-link">Контакти</a></li>
  </ul>
</nav>

<!-- DROPDOWN MENUS -->
<mat-menu #productsMenu="matMenu" class="products-dropdown">
  <button mat-menu-item [matMenuTriggerFor]="acTypesMenu">
    <img src="assets/product-icons/air-conditioner.svg" class="menu-icon" alt="Климатици"> Климатици
  </button>
  <button mat-menu-item [matMenuTriggerFor]="heatPumpsMenu">
    <img src="assets/product-icons/tp.svg" class="menu-icon" alt="Термопомпи"> Термопомпи
  </button>
  <button mat-menu-item [matMenuTriggerFor]="ventilationMenu">
    <img src="assets/product-icons/vc.svg" class="menu-icon" alt="Вентилация"> Вентилация
  </button>
  <button mat-menu-item [matMenuTriggerFor]="solarMenu">
    <img src="assets/product-icons/solar.svg" class="menu-icon" alt="Соларни системи"> Соларни системи
  </button>
</mat-menu>

<mat-menu #acTypesMenu="matMenu">
  <button mat-menu-item>КЛИМАТИЦИ СТЕНЕН ТИП</button>
  <button mat-menu-item>КЛИМАТИЦИ КОЛОНЕН ТИП</button>
  <button mat-menu-item>КЛИМАТИЦИ КАНАЛЕН ТИП</button>
  <button mat-menu-item>КЛИМАТИЦИ КАСЕТЪЧЕН ТИП</button>
  <button mat-menu-item>КЛИМАТИЦИ ПОДОВ ТИП</button>
  <button mat-menu-item>КЛИМАТИЦИ ПОДОВО - ТАВАНЕН ТИП</button>
  <button mat-menu-item>VRF / VRV</button>
  <button mat-menu-item>МОБИЛНИ / ПРЕНОСИМИ КЛИМАТИЦИ</button>
</mat-menu>

<mat-menu #heatPumpsMenu="matMenu">
  <button mat-menu-item>ТЕРМОПОМПЕНИ СИСТЕМИ</button>
  <button mat-menu-item>МУЛТИСПЛИТ СИСТЕМИ</button>
  <button mat-menu-item>БГКЛИМА ТРЪБНИ ТОПЛООБМЕННИЦИ</button>
</mat-menu>

<mat-menu #ventilationMenu="matMenu">
  <button mat-menu-item>ПРОЕКТИРАНЕ НА ВЕНТИЛАЦИОННИ СИСТЕМИ</button>
  <button mat-menu-item>МОНТАЖ НА ВЕНТИЛАЦИОННИ СИСТЕМИ</button>
  <button mat-menu-item>ПРОФИЛАКТИКА И СЕРВИЗ</button>
</mat-menu>

<mat-menu #solarMenu="matMenu">
  <button mat-menu-item>ТЕРМОСИФОННИ</button>
  <button mat-menu-item>ПОД НАЛЯГАНЕ</button>
  <button mat-menu-item>СОЛАРНИ ПАНЕЛИ</button>
</mat-menu>
<mat-menu #servicesMenu="matMenu">
  <button mat-menu-item>Монтаж</button>
  <button mat-menu-item>Профилактика</button>
  <button mat-menu-item>Сервиз</button>
  <button mat-menu-item>Проекти</button>
</mat-menu>
<mat-menu #aboutMenu="matMenu">
  <button mat-menu-item>За фирмата</button>
  <button mat-menu-item>Екип</button>
  <button mat-menu-item>Кариери</button>
</mat-menu>
