<nav class="main-navbar">
  <ul class="navbar-list">
    <li>
      <button mat-button [matMenuTriggerFor]="productsMenu" class="navbar-link products-link">
        ПРОДУКТИ <mat-icon>expand_more</mat-icon>
      </button>
    </li>
    <li><a mat-button class="navbar-link promo-link" routerLink="/promo">ПРОМО</a></li>
    <li>
      <button mat-button [matMenuTriggerFor]="servicesMenu" class="navbar-link">
        Услуги <mat-icon>expand_more</mat-icon>
      </button>
    </li>
    <li>
      <button mat-button [matMenuTriggerFor]="aboutMenu" class="navbar-link">
        За нас <mat-icon>expand_more</mat-icon>
      </button>
    </li>
    <li><a mat-button class="navbar-link" routerLink="/contacts">Контакти</a></li>
  </ul>
</nav>

<!-- DROPDOWN MENUS -->
<mat-menu #productsMenu="matMenu" class="products-dropdown">
  <button mat-menu-item [matMenuTriggerFor]="acTypesMenu">
    <img src="assets/product-icons/ico1.png" class="menu-icon" alt="Климатици"> Климатици
  </button>
  <button mat-menu-item [matMenuTriggerFor]="heatPumpsMenu">
    <img src="assets/product-icons/ico2.png" class="menu-icon" alt="Термопомпи"> Термопомпи
  </button>
  <button mat-menu-item [matMenuTriggerFor]="ventilationMenu">
    <img src="assets/product-icons/ico3.png" class="menu-icon" alt="Вентилация"> Вентилация
  </button>

</mat-menu>

<mat-menu #acTypesMenu="matMenu">
  <button mat-menu-item routerLink="/products/stenen-tip">Климатици стенен тип</button>
  <button mat-menu-item routerLink="/products/kolonen-tip">Климатици колонен тип</button>
  <button mat-menu-item routerLink="/products/kanalen-tip">Климатици канален тип</button>
  <button mat-menu-item routerLink="/products/kasetachen-tip">Климатици касетъчен тип</button>
  <button mat-menu-item routerLink="/products/podov-tip">Климатици подов тип</button>
  <button mat-menu-item routerLink="/products/podovo-tavanen-tip">Климатици подово - таванен тип</button>
  <button mat-menu-item routerLink="/products/vrf-vrv">VRF / VRV</button>
  <button mat-menu-item routerLink="/products/mobilni-prenosimi">Мобилни / преносими климатици</button>
</mat-menu>

<mat-menu #heatPumpsMenu="matMenu">
  <button mat-menu-item routerLink="/products/termopompeni-sistemi">Термопомпени системи</button>
  <button mat-menu-item routerLink="/products/multisplit-sistemi">Мултисплит системи</button>
  <button mat-menu-item routerLink="/products/bgclima-toploobmennici">БГКЛИMA тръбни топлообменници</button>
</mat-menu>

<mat-menu #ventilationMenu="matMenu">
  <button mat-menu-item routerLink="/ventilation-design">
    Проектиране на вентилационни системи
  </button>
  <button mat-menu-item routerLink="/ventilation-installation">Монтаж на вентилационни системи</button>
</mat-menu>


<mat-menu #servicesMenu="matMenu" class="services-dropdown">
  <button mat-menu-item routerLink="/installation">
    <img src="assets/product-icons/tools.png" class="menu-icon" alt="Монтаж">
    <span>Монтаж</span>
  </button>
  <button mat-menu-item routerLink="/profilaktika">
    <img src="assets/product-icons/rpa.png" class="menu-icon" alt="Профилактика">
    <span>Профилактика</span>
  </button>
  <button mat-menu-item routerLink="/serviz">
    <img src="assets/product-icons/services.png" class="menu-icon" alt="Сервиз">
    <span>Сервиз</span>
  </button>
</mat-menu>
<mat-menu #aboutMenu="matMenu">
  <button mat-menu-item routerLink="/about-company">За фирмата</button>
  <button mat-menu-item routerLink="/main-activity">Основна дейност</button>
  <button mat-menu-item routerLink="/resource">Ресурс</button>
  <button mat-menu-item routerLink="/certificates">Сертификати</button>
  <button mat-menu-item routerLink="/projects">Обекти</button>
  <button mat-menu-item routerLink="/contacts">Контакти</button>
</mat-menu>
