<div class="about-logo-section">
  <img src="assets/logo.png" alt="BG Клима" class="about-logo-large">
</div>
<div class="about-content padded-content">
  <h2>Обекти</h2>
  <div class="projects-columns">
    <ul>
      <li>ОБЩИНА РАДНЕВО</li>
      <li>ОБЩИНА ГЪЛЪБОВО</li>
      <li>ТЕЦ-1</li>
      <li>ТЕЦ-2</li>
      <li>ТЕЦ-3</li>
      <li>РУДНИК ТРОЯНОВО - 1</li>
      <li>РУДНИК ТРОЯНОВО - 2</li>
      <li>РУДНИК ТРОЯНОВО – 3</li>
      <li>МИНИ МАРИЦА ИЗТОК ЕАД</li>
      <li>СОЦИАЛНИ ГРИЖИ – РАДНЕВО</li>
      <li>ДОМ ЗА СТАРИ ХОРА – РАДНЕВО</li>
      <li>КАБИНЕТИ НА “МИНИ МАРИЦА ИЗТОК” АД</li>
      <li>ХУДОЖЕСТВЕНА ГАЛЕРИЯ – РАДНЕВО</li>
      <li>ЗАГОРКА АД</li>
      <li>БИСЕР ОЛИВА</li>
      <li>СЛЪНЦЕ – БТ – СТАРА ЗАГОРА</li>
      <li>ОБЩИНА СТАРА ЗАГОРА</li>
      <li>ВЕСТНИК “БИЗНЕС ПОЩА”</li>
      <li>ДЗИ – СТАРА ЗАГОРА</li>
      <li>ЗСК БОРУЙ АД</li>
      <li>БЛАГОУСТРОЙСТВО</li>
      <li>СМР – РАДНЕВО</li>
      <li>ИНВЕСТИТОРСКА ДИРЕКЦИЯ – РАДНЕВО</li>
      <li>СРЕДНА ГОРА</li>
      <li>АВТОСЕРВИЗ – ПАВЕЛ БОЯДЖИЕВ</li>
      <li>АУТОТЕХ – СТАРА ЗАГОРА</li>
      <li>ОРБ – СТАРА ЗАГОРА</li>
      <li>ХЕИ – СТАРА ЗАГОРА</li>
      <li>ЕЛЕКТРОСНАБДЯВАНЕ</li>
      <li>СТРОЙКОМПЛЕКТ ООД</li>
      <li>МЛАДА ГВАРДИЯ – ХАСКОВО</li>
      <li>ЕЛАЦИТЕ</li>
      <li>ДЕЧКО КОЛЕВ – ИДА</li>
      <li>ПЕЧАТНИЦА 2М</li>
      <li>ОБЛАСТНА УПРАВА – СТАРА ЗАГОРА</li>
      <li>БУЛБАНК АД</li>
      <li>КОНТРАКТ КО</li>
      <li>ТУДФК – СТАРА ЗАГОРА</li>
      <li>ДЗУ АД</li>
      <li>СД КВАЛИТЕТ 21</li>
      <li>МАКРОФАРМ АД</li>
      <li>АКЦЕПТИС ЕСТЕЙТ</li>
      <li>ГУП – ТОПЛОЕЛЕКТРОИНВЕСТ</li>
      <li>МЕТАЛИК АД</li>
      <li>ПОДЕЛЕНИЕ 58180</li>
      <li>РИТЪМ - 4-ТБ</li>
      <li>ПЕЧАТНИЦА ДЪГА ПЛЮС</li>
      <li>ОФИС ДЪГА ПЛЮС</li>
    </ul>
    <ul>
      <li>КЪЛВАЧА АД</li>
      <li>ЕЛВИРА ООД</li>
      <li>СМЕТНА ПАЛАТА – СТАРА ЗАГОРА</li>
      <li>ПЕЩОСТРОЙ</li>
      <li>ПЕЩОСТРОЕНЕ И ИЗОЛАЦИИ</li>
      <li>ХРАНСЕРВИЗ ИНЖЕНЕРИНГ АД</li>
      <li>РДВР – СТАРА ЗАГОР</li>
      <li>БТК ЕАД – СТАРА ЗАГОРА</li>
      <li>ЗАВОДСКИ СТРОЕЖИ АД</li>
      <li>РЕМОТЕКС – РАДНЕВО</li>
      <li>ОРБИТЕЛ АД</li>
      <li>ИНТЕРНЕТ ГРУП</li>
      <li>ОБЩИНА НОВА ЗАГОРА</li>
      <li>МЕДИНА МЕД</li>
      <li>НАТАЛИЯ АД</li>
      <li>М-ТЕЛ ТРЕЙДИНГ АД</li>
      <li>ПРОВИМИ ЗАРА</li>
      <li>РУТЕКС</li>
      <li>ЗАРА – Е</li>
      <li>ОУ НА МВР</li>
      <li>ШОУ РУМ МОТО – ПФОЕ – СТАРА ЗАГОРА</li>
      <li>БРИКЕЛ АД</li>
      <li>ФЕРМЕР 2000</li>
      <li>ИНФОРМАТ ООД</li>
      <li>ТЕХНОПОЛ – СТАРА ЗАГОРА</li>
      <li>АКОРД – 95</li>
      <li>АСОРД 95</li>
      <li>ДИЗАЙН 21</li>
      <li>АГРОГАРД</li>
      <li>ОБЩИНСКА БАНКА</li>
      <li>АГРОКОНСУЛТ ИНЖЕНЕРИНГ</li>
      <li>ЗДРАВЕЦ ООД</li>
      <li>ТЕЛЕКОМ СТРОИТЕЛ</li>
      <li>ЕЛ СВЕТ</li>
      <li>БИ ЕМ ОИЛ</li>
      <li>МЕДИЦИНСКИ КОЛЕЖ – СТАРА ЗАГОРА</li>
      <li>ТРАКИЙСКИ УНИВЕРСИТЕТ – СТАРА ЗАГОРА</li>
      <li>ЕРИКС – 21</li>
      <li>КОРЕЛИ – Т</li>
      <li>БАНКА ДСК – СТАРА ЗАГОРА</li>
      <li>БАНКА ДСК – РАДНЕВО</li>
      <li>БАНКА ДСК – ЧИРПАН</li>
      <li>НАПОИТЕЛНИ СИСТЕМИ</li>
      <li>АСКЕНТ ШОП</li>
      <li>ВИКИНГ</li>
      <li>ЕТ ХРИСТО КОЛЕВ</li>
      <li>ВИКТОР – 1</li>
      <li>ИНТЕРХИМ</li>
      <li>ДСД</li>
    </ul>
    <ul>
      <li>КАПРОНИ АД</li>
      <li>АРСЕНАЛ АД</li>
      <li>ЕМЕНЕКС ЕООД</li>
      <li>РАЙФАЙЗЕН БАНК ЕАД – НОВА ЗАГОРА</li>
      <li>КЕЦ СТАРА ЗАГОРА</li>
      <li>КЕЦ РАДНЕВО</li>
      <li>КЕЦ ЕЛХОВО</li>
      <li>ЕЛЕКТРОРАЗПРЕДЕЛЕНИЕ – СТАРА ЗАГОРА</li>
      <li>ИСТОРИЧЕСКИ МУЗЕЙ – СТАРА ЗАГОРА</li>
      <li>БИБЛИОТЕКА “ЗАХАРИЙ КНЯЖЕСКИ”</li>
      <li>ЮНИОНЛИЗИНГ ЕАД</li>
      <li>ПРЕЧИСТВАТЕЛНА СТАНЦИЯ – СТАРА ЗАГОРА</li>
    </ul>
  </div>
</div>
