<div class="contacts-page-centered">
  <h1>Контакти</h1>

  <div class="contact-row">
    <div class="contact-info">
      <h2>Централен офис:</h2>
      <p>бул. “М.М.Кусев“ №34 А ет. II ап. 3<br>
      тел. 042 / 638 248 ; 042 / 655 048<br>
      <a href="mailto:office@bgclima.com">office@bgclima.com</a></p>
    </div>
    <div class="contact-map">
      <iframe src="https://www.google.com/maps?q=BG+Klima,+Stara+Zagora,+Bulgaria&output=embed" width="100%" height="180" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <div class="contact-row">
    <div class="contact-info">
      <h2>Магазин Стара Загора:</h2>
      <p>ул. „Хр. Ботев“ 106<br>моб. 0888 410 237</p>
    </div>
    <div class="contact-map">
      <iframe src="https://www.google.com/maps?q=ул.+Хр.+Ботев+106,+Стара+Загора,+България&output=embed" width="100%" height="180" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <div class="contact-row">
    <div class="contact-info">
      <h2>Магазин Стара Загора:</h2>
      <p>ул. „Хаджи Димитър“ № 94<br>моб. 0888 409 853</p>
    </div>
    <div class="contact-map">
      <iframe src="https://www.google.com/maps?q=ул.+Хаджи+Димитър+94,+Стара+Загора,+България&output=embed" width="100%" height="180" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <div class="contact-row">
    <div class="contact-info">
      <h2>Магазин Казанлък:</h2>
      <p>бул. „Княз Ал. Батенберг“ № 41<br>тел./факс: 0431 / 62 205<br>моб. 0897 958 267 ; 0894 317 643</p>
    </div>
    <div class="contact-map">
      <iframe src="https://www.google.com/maps?q=бул.+Княз+Ал.+Батенберг+41,+Казанлък,+България&output=embed" width="100%" height="180" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
