<div class="contacts-page">
  <h1>Контакти</h1>
  <h2>Централен офис:</h2>
  <p>бул. “М.М.Кусев“ №34 А ет. II ап. 3<br>
  тел. 042 / 638 248 ; 042 / 655 048<br>
  <a href="mailto:office@bgclima.com">office@bgclima.com</a></p>

  <h2>Магазини Стара Загора:</h2>
  <p>ул. „Хр. Ботев“ 106<br>моб. 0888 410 237</p>
  <p>ул. „Хаджи Димитър“ № 94<br>моб. 0888 409 853</p>

  <h2>Магазин Казанлък:</h2>
  <p>ул. „Ал. Батемберг“ № 41,<br>тел./факс: 0431 / 62 205<br>моб. 0897 958 267 ; 0894 317 643</p>
</div>
