<div class="about-logo-section">
  <img src="assets/logo.png" alt="BG Клима" class="about-logo-large">
</div>
<div class="about-content padded-content">
  <h2>Основна дейност</h2>
  <p>В резултат на своят дългогодишен опит фирмата разполага с високо квалифицирани специалисти в следните области:</p>
  <ul>
    <li>Климатизация</li>
    <li>Доставка, монтаж и сервиз</li>
    <li>Чилър системи</li>
    <li>VRF системи</li>
    <li>Канални инсталации</li>
    <li>Абонаментно обслужване</li>
    <li>Аспирации (смукателна и нагнетателна)</li>
    <li>Вентилации и други</li>
  </ul>
  <h3>Услуги и сервиз</h3>
  <ul>
    <li>Проектиране и консултации</li>
    <li>Монтаж на климатици</li>
    <li>Профилактика на климатици</li>
    <li>Сервиз и гаранция</li>
  </ul>
  <h3>Климатична техника</h3>
  <ul>
    <li>Климатици стенен тип</li>
    <li>Климатици колонен тип</li>
    <li>Климатици канален тип</li>
    <li>Климатици касетъчен тип</li>
    <li>Климатици подов тип</li>
    <li>Климатици подово - таванен тип</li>
    <li>VRF / VRV</li>
    <li>Термопомпени системи</li>
    <li>Мултисплит системи</li>
    <li>Бгклима Тръбни Топлообменници</li>
    <li>Мобилни / Преносими климатици</li>
  </ul>
  <h3>Вентилация</h3>
  <ul>
    <li>Проектиране на вентилационни системи</li>
    <li>Монтаж на вентилационни системи</li>
    <li>Профилактика и сервиз</li>
  </ul>
</div>
