<div class="about-logo-section">
  <img src="assets/logo.png" alt="BG Клима" class="about-logo-large">
</div>
<div class="about-content padded-content">
  <h2>Монтаж на климатици</h2>
  <p>Монтажът на климатици се извършва от нашата фирма. Разполагаме с пет монтажни екипа. Монтажниците са с опит над пет години във фирма. При изпълнение се съобразяват като предпочитанията на клиента за местоположение, така и спецификата на стаята и тръбното трасе. Дългата практика и стаж при монтажите е съчетана с качествени и устойчеви материали. Фирмата е сертифицирана по ISO 9001:2008 за извършване на монтаж на климатици и провежда входящ контрол за качеството на влаганите матириали и консумативи, техническа калибровка на използваните машини. Фирмата разполага с пет напълно обурудвани микробуса, окомплектовани с качествена и прецизна техника за изпълнение на монтаж. Всички тези предимства гарантират на наште клиенти, че ще получат монтаж в съответствие с всички изисквания за монтаж и инсталация, посочени в инструкциите за монтаж от производителя. С това ние се стараем климатикът да постигне реалните технически параметри, които са му зададени.</p>
  <blockquote><b>Държим на качеството, защото държим на клиентите си!</b></blockquote>

  <h3>Стандартен монтаж на климатик включва:</h3>
  <ul>
    <li>До 3 м. тръбен път</li>
    <li>Фиксиране на вътрешното тяло</li>
    <li>Пробиване на отвор в стената</li>
    <li>Медни тръби за ниско и високо налягане</li>
    <li>Термо изолация за медна тръба</li>
    <li>Отводняваща гофрирана тръба</li>
    <li>Кабел за комуникация</li>
    <li>Изготвяне на захранващ щепсел</li>
  </ul>

  <h4 class="text-center mt-5 mb-4">Услуги, които не са включени в стандартният монтаж:</h4>

  <table class="styled-price-table">
    <tr class="section-header">
      <td colspan="4">ЦЕНИ ЗА СТАНДАРТЕН МОНТАЖ</td>
    </tr>
    <tr class="table-header">
      <td>&nbsp;</td>
      <td>9 000 - 14 000 BTU</td>
      <td>16 000 - 24 000 BTU</td>
      <td>24 000 BTU и повече</td>
    </tr>
    <tbody>
      <tr>
        <td>Монтаж на стенен климатик</td>
        <td>280,00 лв. / 143.16 €</td>
        <td>340,00 лв. / 173.84 €</td>
        <td>след оглед</td>
      </tr>
      <tr>
        <td>Монтаж на колонен климатик</td>
        <td colspan="2">-</td>
        <td>400,00 лв. / 204.51 €</td>
      </tr>
    </tbody>
  </table>

  <br>

  <table class="styled-price-table">
    <tr class="section-header">
      <td colspan="4">ЦЕНИ ЗА ДОПЛАЩАНЕ</td>
    </tr>
    <tr class="table-header">
      <td>&nbsp;</td>
      <td>9 000 - 12 000 BTU</td>
      <td>16 000 - 18 000 BTU</td>
      <td>24 000 BTU и повече</td>
    </tr>
    <tbody>
      <tr>
        <td>Удължен монтажен тръбен път (над 3 м.)</td>
        <td>40 лв./л.м. / 20.45 €</td>
        <td>50 лв./л.м. / 25.56 €</td>
        <td>60 лв./л.м. / 30.68 €</td>
      </tr>
      <tr>
        <td>Удължен захранващ ел. проводник 3 х 1,5 / 2,5 над 5м.</td>
        <td colspan="3">5,00 / 7,00 лв./л.м. / 2.56 € / 3.58 €</td>
      </tr>
      <tr>
        <td>Удължено отводнително трасе (над 4 м.)</td>
        <td>2 лв./л.м. / 1.02 €</td>
        <td>2 лв./л.м. / 1.02 €</td>
        <td>2 лв./л.м. / 1.02 €</td>
      </tr>
      <tr>
        <td>Удължена ПВЦ тръба ф.20 / ф.32 над 0.5 м.</td>
        <td colspan="3">7 / 10 лв./л.м. / 3.58 € / 5.11 €</td>
      </tr>
      <tr>
        <td>Алуминиева лента за бандажиране</td>
        <td colspan="3">5 лв./л.м. / 2.56 €</td>
      </tr>
      <tr>
        <td>Монтаж на тръбен път в ПВЦ канал / аксесоари</td>
        <td colspan="3">20 лв./л.м. / 10 лв./бр. / 10.23 € / 5.11 €</td>
      </tr>
      <tr>
        <td>Вкопаване на тръбен път /тухла/</td>
        <td colspan="3">20 лв./л.м. / 10.23 €</td>
      </tr>
      <tr>
        <td>Антивибрационни тампони комплект</td>
        <td>30,00 лв. / 15.34 €</td>
        <td>30,00 лв. / 15.34 €</td>
        <td>80,00 лв. / 40.90 €</td>
      </tr>
      <tr>
        <td>Демонтаж на съществуващ климатик</td>
        <td>60,00 лв. / 30.68 €</td>
        <td>80,00 лв. / 40.90 €</td>
        <td>100,00 лв. / 51.13 €</td>
      </tr>
      <tr>
        <td>Транспортни разходи при монтаж извън Ст. Загора (в двете посоки).</td>
        <td colspan="3">1,00 лв./1 км. / 0.51 €</td>
      </tr>
      <tr>
        <td>Монтаж на два етапа</td>
        <td colspan="3">50 лв. за всяка допълнителна визита / 25.56 €</td>
      </tr>
      <tr>
        <td>Монтаж с допълнителен технологичен отвор</td>
        <td colspan="3">30 лв./1 бр. / 15.34 €</td>
      </tr>
      <tr>
        <td>Демонтаж на стандартен стъклопакет (80/150-24мм)</td>
        <td colspan="3">40 лв./1 бр. / 20.45 €</td>
      </tr>
      <tr>
        <td>Качване на климатик над 3 етаж без асансьор</td>
        <td>2 лв./1 ет. / 1.02 €</td>
        <td>5 лв./1 ет. / 2.56 €</td>
        <td>10 лв./1 ет. / 5.11 €</td>
      </tr>
      <tr>
        <td>Запълване на технологичен отвор в стена с монтажна пяна</td>
        <td colspan="3">10 лв./1 бр. / 5.11 €</td>
      </tr>
      <tr>
        <td>Монтаж с вишка/кран/скеле(еднократно)</td>
        <td colspan="3">Приблизително по 80лв./1ч. / 40.90 €</td>
      </tr>
      <tr>
        <td>Кондензна тава с държачи и отводняване до 50см.</td>
        <td>80,00 лв. / 40.90 €</td>
        <td>80,00 лв. / 40.90 €</td>
        <td>100,00 лв. / 51.13 €</td>
      </tr>
    </tbody>
  </table>

  <div class="notes mt-4">
    <p style="font-size:0.95em;color:#666;">* Евро цените са изчислени по курс 1 EUR = 1.95583 лв.</p>
    <p>Дейности, които не са описани, а е необходимо да се извършат, се таксуват след уговорка на клиента и Управителя.</p>
  </div>

</div>
