<div class="about-logo-section">
  <img src="assets/logo.png" alt="BG Клима" class="about-logo-large">
</div>
<div class="about-content padded-content">
  <h2>Проектиране и консултации</h2>
  <h3>В НАШ МАГАЗИН:</h3>
  <p>Фирмата разполага с три магазина: два в гр.Стара Загора и един - в гр.Казанлък (виж контакти). На място се предоставят безплатна консултация, визуално запознаване – има налични изложбени модели на почти цялата гама, като и реално представяне – фирмата разполага с работен демонстрационен стенд.</p>
  <p>При срещата с наши продавач-консултанти Вие ще получите квалифицирана консултация, която ще ви помогне да направите точния и правилен избор на климатична система, която да отговаря на личните ви нужди.</p>
  <p>Богатата гама марки, модели и мощности се съчетава с атрактивни цени и гъвкави начини на финансиране.</p>
  <p>Предлаганите от нас стоки могат да се закупят по следните начини:</p>
  <ul>
    <li>В брой: на място в магазина или след извършеният монтаж;</li>
    <li>По банков път: на база издадена фактура за банково плащане;</li>
    <li>Чрез POS терминал: приемат се плащания с карти(дебитни и кредитни), носещи логото на Борика;</li>
    <li>С бърз стоков кредит от <b>Unicredit Consumer Financing</b> - искането за кредит се попълва на място в магазина ни или по телефон и получавате отговор за одобрение за 5 минути.</li>
    <li>С бърз стоков кредит от <b>TBI Credit</b> - искането за кредит се попълва на място в магазина ни или по телефон и получавате отговор за одобрение за 5 минути.</li>
    <li>С целеви/потребителски кредит от банкова институция, по желание на клиента.</li>
  </ul>
  <h3>В ОФИСА:</h3>
  <p>В централният офис на фирмата (виж контакти) се предоставят безплатна консултация, запознаване посредством каталози и технически спецификации. Предлагаме енергоспестяващи решения в областта на отоплението, вентилацията и климатизацията за отделни жилища, цели жилищни сгради, сървърни помещения, търговски и офис сгради, лечебни заведения, производствени сгради, заведения за хранене и развлечения, складове и т.н. Работим както с проектна документация, така и с оглед на място. Изготвяме оферти с ясни условия и отстъпки – на преференциални клиенти и заявени количества.</p>
  <p>В офиса се приемат заявки за гаранционен и извънгаранционен ремонт, профирактика. Могат да бъдат сключени договори по абонаментно обслужване – включващи: профилактика, навременен сервиз и ремонт на климатици.</p>
</div>
