<div class="about-logo-section">
  <img src="assets/logo.png" alt="BG КЛИМА" class="about-logo-large">
</div>
<div class="about-content padded-content">
  <h2>Сервиз и гаранция</h2>
  <p>Фирмата извършва гаранционен, извънгаранционен и абонамнтен сервиз на климатични инсталации. Разполагаме със сервизна база, оборудвана със съвременна техника за диагностициране и отстраняване на проблеми.</p>
  <p>Работим с утвърдени доставчици, които поддържат пълен асортимент от резервни части. След посещение от техник и констатация на проблема следват два варианта:</p>
  <ul>
    <li>подмяна на резервни части на климатика на място;</li>
    <li>демонтаж на климатика за ремонт в сервизната база, а след отремонтиране – монтаж;</li>
  </ul>
  <p>Техниците на климатици най-точно могат да установят проблема и какво точно решение да предприемат. По-добре е да се доверите на утвърдени техници и фирми, за отстраняване на проблема. Посещението и консултация с техник струва 20 лева (в рамките на Стара Загора), който констатира дефекта, остойностява неговият ремонт, както и срока в който може да се реагира. След решение и заявка от страна на клиента пристъпваме към отстраняване на проблема.</p>
  <p>Във фирмата работят специалисти със завършен както техникум, така и курс за професионална квалификация в специалност хладилна и климатична техника. Повечето от персонала са с натрупан стаж над 10 години. Всички тези предпоставки са гаранция за качественно обслужване в сферата на ремонт на климатици. Техниците могат да ремонтират всички марки, модели и мощности климатици, които се предлагат на българският пазар.</p>
  <p>Нашата фирма успешно изпълнява дейностите по абонаментна поддръжка на климатични инсталации. Този вид услуга е удачен за предприятия и клиенти с над 10 климатика на едно място. Срещу заплатена месечна такса клиентите получават гарантирана профилакти и преглед на климатика си два пъти в годината, както и приоритет при необходимост от ремонтни дейности. При климатици, които са поддържани абонаментно много по-рядко възникват проблеми, поради честото наблюдение от техници и извършване на профилактика.</p>
  <p>За заявка на ремонт е необходимо да се обдите по телефона, за да го заявите, след което ние ще ви потърсим, за та уточним подходящите ден и час за посещението.</p>
  <table class="styled-price-table">
    <tr class="section-header">
      <td colspan="4">ЦЕНИ ЗА СЕРВИЗНИ УСЛУГИ</td>
    </tr>
    <tr class="table-header">
      <td>Номер</td>
      <td>Предлагани услуги</td>
      <td>Цена (лв.)</td>
      <td>Цена (EUR)</td>
    </tr>
    <tbody>
      <tr><td>1</td><td>Визита и диагностика</td><td>60 лв.</td><td>30.68 €</td></tr>
      <tr><td>2</td><td>Оглед на обект</td><td>50 лв.</td><td>25.56 €</td></tr>
      <tr><td>3</td><td>Монтаж на два етапа</td><td>50 лв.</td><td>25.56 €</td></tr>
      <tr><td>4</td><td>Монтаж на анти-вибрационни тампони (компл. 4бр.)</td><td>20 лв.</td><td>10.23 €</td></tr>
      <tr><td>5</td><td>Монтаж на климатик 9000 ÷14000 BTU (до 3 м тръбен път)</td><td>280 лв.</td><td>143.16 €</td></tr>
      <tr><td>6</td><td>Монтаж на климатик 18000÷24000 BTU (до 3 м тръбен път)</td><td>340 лв.</td><td>173.84 €</td></tr>
      <tr><td>7</td><td>Монтаж на климатик колонен климатик (до 3 м тръбен път)</td><td>400 лв.</td><td>204.51 €</td></tr>
      <tr><td>8</td><td>Демонтаж на вътрешно тяло</td><td>60 лв.</td><td>30.68 €</td></tr>
      <tr><td>9</td><td>Демонтаж на външно тяло</td><td>60 лв.</td><td>30.68 €</td></tr>
      <tr><td>10</td><td>Демонтаж на климатик от 9000 до 14000 BTU</td><td>80 лв.</td><td>40.90 €</td></tr>
      <tr><td>11</td><td>Демонтаж на климатик от 18000 до 24000 BTU</td><td>100 лв.</td><td>51.13 €</td></tr>
      <tr><td>12</td><td>Демонтаж на колонен климатик</td><td>120 лв.</td><td>61.36 €</td></tr>
      <tr><td>13</td><td>Преместване на вътрешно тяло</td><td>120 лв.</td><td>61.36 €</td></tr>
      <tr><td>14</td><td>Преместване на външно тяло</td><td>120 лв.</td><td>61.36 €</td></tr>
      <tr><td>15</td><td>Профилактика на климатик + разглобяване турбина</td><td>100 лв.</td><td>51.13 €</td></tr>
      <tr><td>16</td><td>Профилактика с демонтаж и почистване в работилница</td><td>240 лв.</td><td>122.71 €</td></tr>
      <tr><td>17</td><td>Полагане на тръбен път (до 3 л.м.), като аванс</td><td>200 лв.</td><td>102.26 €</td></tr>
      <tr><td>18</td><td>Тръбно трасе, удълж. монт.път 9,12 / 14,18 / 24 BTU за 1 л.м.</td><td>40 / 50 / 60 лв.</td><td>20.45 / 25.56 / 30.68 €</td></tr>
      <tr><td>19</td><td>Смяна на тампони на турбина вътрешно тяло</td><td>80 лв.</td><td>40.90 €</td></tr>
      <tr><td>20</td><td>Отпушване на конденз / Отводняване</td><td>80 лв.</td><td>40.90 €</td></tr>
      <tr><td>21</td><td>Зареждане с фреон (за килограм) R407, R410 / R32</td><td>150 лв.</td><td>76.69 €</td></tr>
      <tr><td>22</td><td>Запояване на спукана тръба</td><td>60 лв.</td><td>30.68 €</td></tr>
      <tr><td>23</td><td>Смяна на датчик</td><td>60 лв.</td><td>30.68 €</td></tr>
      <tr><td>24</td><td>Смяна на кондензатор</td><td>60 лв.</td><td>30.68 €</td></tr>
      <tr><td>25</td><td>Смяна на лагери на мотор на турбина</td><td>120 лв.</td><td>61.36 €</td></tr>
      <tr><td>26</td><td>Смяна на контактор</td><td>Т: 50 лв.</td><td>Т: 25.56 €</td></tr>
      <tr><td>27</td><td>Смяна на клапа на вътр.тяло / моторче на клапа</td><td>Т: 50 лв.</td><td>Т: 25.56 €</td></tr>
      <tr><td>28</td><td>Смяна на турбина вътр.тяло</td><td>Т: 50 лв.</td><td>Т: 25.56 €</td></tr>
      <tr><td>29</td><td>Смяна на мотор на турбина</td><td>Т: 50 лв.</td><td>Т: 25.56 €</td></tr>
      <tr><td>30</td><td>Смяна на перка на външно тяло</td><td>Т: 50 лв.</td><td>Т: 25.56 €</td></tr>
      <tr><td>31</td><td>Ремонт на клапа</td><td>70 лв.</td><td>35.79 €</td></tr>
      <tr><td>32</td><td>Смяна на кран</td><td>Т: 50 лв.</td><td>Т: 25.56 €</td></tr>
      <tr><td>33</td><td>Смяна на гайка</td><td>50 лв.</td><td>25.56 €</td></tr>
      <tr><td>34</td><td>Смяна на предпазител</td><td>Т: 50 лв.</td><td>Т: 25.56 €</td></tr>
      <tr><td>35</td><td>Поставяне на кондезна тавичка (вкл.: коляно+1л.м. тръба)</td><td>80 лв.</td><td>40.90 €</td></tr>
      <tr><td>36</td><td>Поставяне на кабелен канал (1 л.м.)</td><td>20 лв.</td><td>10.23 €</td></tr>
      <tr><td>37</td><td>Поставяне на аксесоар за кабелен канал (1 бр.)</td><td>10 лв.</td><td>5.11 €</td></tr>
      <tr><td>38</td><td>Смяна на изолация/аерофлекс (1 л.м.)</td><td>15 лв.</td><td>7.67 €</td></tr>
      <tr><td>39</td><td>Смяна на бобина 4-пътен вентил</td><td>Т: 50 лв.</td><td>Т: 25.56 €</td></tr>
      <tr><td>40</td><td>Стойки малки/големи</td><td>40 / 60 лв.</td><td>20.45 / 30.68 €</td></tr>
      <tr><td>41</td><td>Стойки подови/таванни</td><td>40 / 60 лв.</td><td>20.45 / 30.68 €</td></tr>
      <tr><td>42</td><td>Удължители за стойки 400/500</td><td>30 лв.</td><td>15.34 €</td></tr>
      <tr><td>43</td><td>ИНОКС стойки малки / подови / големи</td><td>150 лв.</td><td>76.69 €</td></tr>
      <tr><td>44</td><td>ИНОКС кондензна тава</td><td>200 лв.</td><td>102.26 €</td></tr>
    </tbody>
  </table>
  <ul>
    <li>* Посочените цени, са само за труд. Резервната част се таксува отделно, в зависимост от модела и мощноста.</li>
    <li>При посещение по заявка/договореност, задължително се начислява 60 лв. за визита и диагностика.</li>
    <li>Цените са за извършени услуги в рамките на Стара Загора. В случаи на ремонт в друго населено място, се заплащат транспортни разходи: по 0,60лв. / 1км.</li>
    <li>Всички цени са в български лева без включен ДДС.</li>
    <li style="font-size:0.95em;color:#666;">* Евро цените са изчислени по курс 1 EUR = 1.95583 лв.</li>
  </ul>
</div>
