<div class="about-logo-section">
  <img src="assets/logo.png" alt="BG Клима" class="about-logo-large">
</div>
<div class="about-content padded-content">
  <h2>Сертификати</h2>
  <p>Като гаранция за качество на предлаганите стоки и услуги, България Клима ООД притежава следните Сертификати:</p>
  <ul>
    <li>за внедрена система за управление на качеството, в съответствие със стандарта: ISO 9001:2015;</li>
    <li>Фирмата притежава Документ за правоспособност, съгласно Регламент (ЕС) 517/2017 за „монтаж и поддръжка на хладилни и климатични инсталации съдържащи флуорирани парникови газове“ издаден от Българска Браншова Камарата – Машиностроене (с валидност: 21.08.2026г.);</li>
    <li>Високо квалифицирани техници, отговарящи за монтаж, сервиз и поддръжка на климатични и вентилационни системи.</li>
  </ul>
  <div class="certificates-row">
    <div class="certificate-block">
      <a href="/assets/docs/06-2021-dekl-polit-upravl.pdf" target="_blank">
        <img src="assets/docs/06-2021-dekl-polit-upravl.jpg" alt="Сертификат" class="certificate-thumb" />
      </a>
      <div class="certificate-label">Декларация</div>
    </div>
    <div class="certificate-block">
      <a href="/assets/docs/politikapouprkachestvo.pdf" target="_blank">
        <img src="assets/docs/politikapouprkachestvo.jpg" alt="Сертификат" class="certificate-thumb" />
      </a>
      <div class="certificate-label">Политика по управление на качеството</div>
    </div>
    <div class="certificate-block">
      <a href="/assets/docs/2026-bgclima-freon.jpg" target="_blank">
        <img src="assets/docs/2026-bgclima-freon.jpg" alt="Сертификат" class="certificate-thumb" />
      </a>
      <div class="certificate-label">Документ за правоспособност</div>
    </div>
    <div class="certificate-block">
      <a href="/assets/docs/9001.pdf" target="_blank">
        <img src="assets/docs/9001.png" alt="Сертификат ISO 9001:2015" class="certificate-thumb" />
      </a>
      <div class="certificate-label">ISO 9001:2015</div>
    </div>
  </div>
</div>
