<footer class="main-footer">
  <div class="footer-contacts-row">
    <div class="footer-contact-item">
      <mat-icon>location_on</mat-icon>
      <span>Бул. Свети Наум №66, 1164 София, жк Лозенец</span>
    </div>
    <div class="footer-contact-item">
      <mat-icon>call</mat-icon>
      <a href="tel:070020223">0700 20 223</a>
    </div>
    <div class="footer-contact-item">
      <mat-icon>email</mat-icon>
      <a href="mailto:office@bulclima.com">office@bulclima.com</a>
    </div>
    <div class="footer-contact-item footer-socials">
      <a href="http://www.facebook.com/BulclimaBG" target="_blank"><mat-icon>facebook</mat-icon></a>
      <a href="http://www.linkedin.com/company/bulclima-ltd-" target="_blank"><mat-icon>linkedin</mat-icon></a>
      <a href="viber://chat/?number=%2B359888803098" target="_blank"><mat-icon>chat</mat-icon></a>
    </div>
  </div>
  <div class="footer-content">
    <div class="footer-section services">
      <h3>Услуги</h3>
      <ul>
        <li><a href="#">Монтаж на климатици</a></li>
        <li><a href="#">Безплатен оглед</a></li>
        <li><a href="#">Консултация</a></li>
        <li><a href="#">Профилактика на климатици</a></li>
        <li><a href="#">Сервиз на климатици</a></li>
        <li><a href="#">Проекти</a></li>
      </ul>
    </div>
    <div class="footer-section about">
      <h3>За нас</h3>
      <ul>
        <li><a href="#">Булклима</a></li>
        <li><a href="#">Булклима Инженеринг</a></li>
        <li><a href="#">Партньори</a></li>
        <li><a href="#">Екип</a></li>
        <li><a href="#">Кариери</a></li>
        <li><a href="#">Изградени обекти</a></li>
        <li><a href="#">Новини</a></li>
      </ul>
    </div>
    <div class="footer-section client-center">
      <h3>Клиентски център</h3>
      <ul>
        <li><a href="#">Общи условия на сайта</a></li>
        <li><a href="#">Условия за доставка</a></li>
        <li><a href="#">Начин на плащане</a></li>
        <li><a href="#">Информация за поръчки</a></li>
        <li><a href="#">Гаранция и рекламации</a></li>
        <li><a href="#">Онлайн кредит</a></li>
        <li><a href="#">Oтстъпки</a></li>
        <li><a href="#">Сигурност на личните данни</a></li>
        <li><a href="#">Карта на сайта</a></li>
      </ul>
    </div>
    <div class="footer-section catalogs">
      <h3>Каталози и цени</h3>
      <ul>
        <li><a href="#">Каталози</a></li>
        <li><a href="#">Ценови листи</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span>© 2007 - 2024 Булклима - климатици, термопомпи, въздушни завеси. Всички права запазени.</span>
    <span>Digital Consultancy</span>
  </div>
</footer>
