<div class="about-logo-section">
  <img src="assets/logo.png" alt="BG Клима" class="about-logo-large">
</div>


<div class="about-content padded-content">
  <h2>За нас</h2>
  <p>България Клима ООД е компания специализирана в областта на климатизацията, вентилацията и отоплението. Създадена през 1993г. дейността на фирмата обхваща: доставка, монтаж, гаранционен и извънгарационен сервиз на инсталациите.</p>
  <p>От 2004г. фирмата е официален вносител и дистрибутор за България на Chofu Seisakusho Co., Ltd. Japan. Chofu е известа със своето високо качество и икономичност на климатичните системи, които се произвеждат само в Япония и нямат изнесено производство в други страни. Продуктите са позиционирани в най-високия клас с високо качество и съобразени с пазарните условия на страната. България Клима ООД е вносител и на соларните ситеми CHOFU - Япония - за битови нужди, които подгряват водата без електричество.</p>

  <h3>„БЪЛГАРИЯ КЛИМА“ ООД изпълнява проект за подобряване условията и осигуряване на безопасен труд</h3>
  <p>На 26.06.2013г. „БЪЛГАРИЯ КЛИМА“ ООД подписа договор за безвъзмездна финансова помощ с Агенцията по заетостта, в качеството си на Междинно звено по ОП „РЧР“.</p>
  <p><b>Регистрационен номер на Договора:</b> ESF-2303-09-12006</p>
  <p>Съгласно договора, Европейският социален фонд ще финансира проекта на „БЪЛГАРИЯ КЛИМА“ ООД за подобряване условията и осигуряване на безопасен труд на работещите в „БЪЛГАРИЯ КЛИМА“ ООД.</p>
  <p><b>Проектът стартира официално на 01.09.2013г. и ще се изпълнява в град: Стара Загора.</b></p>
  <p><b>Целите на проекта са:</b> Създаване на възможност за подобряване условията на труд, повишаване производителността на работещите и адаптиране на управленските процеси в насока увеличаване качеството на производителността, свързана с регламентирането и нормирането на труда в предприятие „БЪЛГАРИЯ КЛИМА“ ООД чрез въвеждане на мерки и стандарти свързани с подобряване условията за безопасен труд, които са изцяло в синхрон със законодателните изисквания на областта на условията за безопасен труд.</p>
  <p>
    <a href="/assets/docs/project.pdf" target="_blank">Повече информация</a>
  </p>

  <h3>„БЪЛГАРИЯ КЛИМА“ ООД изпълнява проект за подобряване условията и осигуряване на безопасен труд</h3>
  <p>На 20.01.2014г. „БЪЛГАРИЯ КЛИМА“ ООД обявява публична покана по ПМС 69 / 2013 г. за избор на изпълнител с предмет: „Изготвяне на анализ на състоянието и проектиране на организацията на трудовата дейност във връзка с изпълнeнето на: Договор ESF-2303-09-12006: „С отговорност към безопасността на работещите“ в „България Клима“ ООД“</p>
  <p><b>Регистрационен номер на Договора:</b> ESF-2303-09-12006</p>
  <p><b>Регистрационен номер на публична покана:</b> ID 1544</p>
  <p><b>Дата на публикуване:</b> 20.01.2014 г.</p>
  <p><b>Краен срок за получаване на оферти:</b> 29.01.2014 г.</p>
  <p><b>Място за подаване на офертите:</b> Стара Загора, 6000, бул. Митрополит Методий Кусев №34, вх.А, ет.2, ап. 3</p>
  <p><b>Лице за контакти:</b> Светлана Георгиева</p>
  <p><b>Телефон за контакти:</b> 042 638 248</p>
  <p><a href="/assets/docs/pokana.zip" download>Повече информация</a></p>

  <h3>Проект за преодоляване на последиците от COVID-19</h3>
  <p>На 11.08.2020 г. „БЪЛГАРИЯ КЛИМА“ ООД подписа договор за безвъзмездна финансова помощ с Министерство на икономиката. <b>Регистрационен номер на Договора:</b> BG16RFOP002-2.073-7116-C01.</p>
  <p>Съгласно договора, ОПИК ще финансира проекта на „БЪЛГАРИЯ КЛИМА“ ООД „Преодоляване недостига на средства и липсата на ликвидност, настъпили в резултат от епидемичния взрив от COVID-19”.</p>
  <p><b>Проектът стартира официално на 11.08.2020г. и ще се изпълнява в град: Стара Загора.</b></p>
  <p><b>Целите на проекта са:</b> Осигуряване на оперативен капитал за българските микро и малки предприятия за справяне с последиците от пандемията COVID-19. Постигане на положителен ефект за преодоляване на икономическите последствия от пандемията COVID-19 и стабилност на работните места</p>
  <p><b>Продължителност на проекта:</b> до 11.11.2020г.</p>
  <p><a href="/assets/docs/project082020-opic.pdf" target="_blank">Повече информация</a></p>

  <h3>Проект за подкрепа на малки предприятия с оборот над 500 000 лв.</h3>
  <p>На 11.10.2021 г. „БЪЛГАРИЯ КЛИМА“ ООД подписа договор за безвъзмездна финансова помощ с Министерство на икономиката. <b>Регистрационен номер на Договора:</b> BG16RFOP002-2.089-0020-C01.</p>
  <p>Съгласно договора, ОПИК ще финансира проекта на „БЪЛГАРИЯ КЛИМА“ ООД „Подкрепа за малки предприятия с оборот над 500 000 лв. за преодоляване на икономическите последствия от пандемията COVID-19, Осигуряването на оперативен капитал за българските малки предприятия, реализирали оборот над 500 000 лв. за 2019 г., за справяне с последиците от пандемията COVID-19”.</p>
  <p><b>Проектът стартира официално на 11.10.2021г. и ще се изпълнява в град: Стара Загора.</b></p>
  <p><b>Целите на проекта са:</b> Осигуряване на оперативен капитал за българските малки предприятия, реализирали оборот над 500 000 лв за 2019г., за справяне с последиците от пандемията COVID-19. Постигане на положителен ефект за преодоляване на икономическите последствия от пандемията COVID-19 и стабилност на работните места</p>
  <p><b>Продължителност на проекта:</b> до 11.01.2022г.</p>
  <p><a href="/assets/docs/project102021-opic.pdf" target="_blank">Повече информация</a></p>
</div>
